DATABASE_URL=postgresql+asyncpg://user:pass@host:5432/dbname
CASHBACK_API_VERSION=v1
CASHBACK_USERNAME=optimalsavdo
CASHBACK_PASSWORD=<kuchli-parol>
CASHBACK_SHOP_TOKEN=<do'kon-tokeni>
CARD_PREFIX=29
DEFAULT_CASHBACK_PCT=1
RATE_LIMIT_PER_MIN=300
